footer{
    background: rgba(2, 36, 2, 0.793);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 3rem;
}

footer a{
    color: white;
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 2rem;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background: var(--color-bg);
    margin: 2rem 2rem;
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    border: 1px solid transparent;
}

.footer__socials a:hover{   
    background: transparent;
    color: var(--color-bg);
    border-color:  var(--color-bg);
}

.footer__copyright{
    margin: 5rem;
    color: white;
}

/* Media Queries(Small Devices) */
@media screen and (max-width: 600px){
    footer{
        margin-top: 20rem;
    }
    
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials{
        margin-bottom: 2rem;
    }
}